<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDpxl3iBLrCOCZbioiM9PdsU9G3S-B7V8</string>
	<key>GCM_SENDER_ID</key>
	<string>880719812759</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.radio</string>
	<key>PROJECT_ID</key>
	<string>customlabs-1b5dd</string>
	<key>STORAGE_BUCKET</key>
	<string>customlabs-1b5dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:880719812759:ios:fa7d6390bb9454d877b1d2</string>
</dict>
</plist>